# node_modules (paquetes instalados)
node_modules/

# build (carpeta generada por Vite al hacer build)
dist/

# Archivos de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Configs del sistema operativo
.DS_Store
Thumbs.db

# Configs de entorno
.env
.env.local
.env.*.local

# VSCode settings (si usás VSCode)
.vscode/

# Archivos temporales
*.log
*.tmp
